/*bodyのマージンを0にして、webの余白をしている。画面外に出た部分を隠している。 */
body {
    margin: 0;
    overflow: hidden;
}

.sky {
    background-image: url("sky.jpg");
    /*画面のサイズ比に合わせたサイズにしている*/
    width: 100vw;
    height: 100vh;
    /*画面横幅いっぱいになるようにしている*/
    background-size: cover;
    position: relative;
}

.daytime {
    background-image: url("daytime.png");
    height: 500px;
    width: 500%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.car img {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 120px;
}

.text {
    top: 0;
    left: 0;
    position:absolute;
}

@keyframes moving {
    100% {
        transform: translateX(-3000px);
    }
}

@keyframes suspention {
    100% {
        /*移動するアニメーション*/
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-20px);
    }
    0% {
        transform: translateY(-10px);
    }
}

/*画面が動く時間と開始から終了までの設定。infiniteは無限。*/
.moving {
    animation: moving 10s linear infinite;
}

.suspention {
    animation: suspention 1s linear infinite;
}
